body {background-color: #FFFFFF;color: #575758;font: normal 11px Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;margin:0px;padding:0px;background-image:url(http://www.vibieffe.it/images/bg.gif);background-repeat: repeat-y;background-position: center top;}
.colsx {background-color:#575758}
.stampa {display:block}
.logo {}
.logo-stampa {display:none}
#navigazioneSx {padding-top:25px; padding-left:10px}
#navigazioneSx a {color:#999999; text-decoration:underline; font-size:10px}
#navigazioneSx a:hover {color:#FF6600; text-decoration:underline; font-size:10px}
#salone {text-align:right; font-size:16px; font-weight:bold; padding-top:11px}
#salone a {color:#575758; text-decoration:underline}
#salone a:hover {color:#FF771C; text-decoration:underline}
#copyright {font-size:10px; text-align:right; padding-top:20px; padding-bottom:20px}
#dx {font-size:12px; padding-top:20px}
#dx .testoAzzurro {color:#3399CC}
#dx .titolo {color: #3399CC; font-size:24px; font-weight:bold}
#dx .titolo12 {color: #575758; font-size:12px}
#dx .titolo14 {color: #575758; font-size:14px; font-weight:bold}
#dx .titolo16 {color: #575758; font-size:16px; font-weight:bold}
#dx .titolo18 {color: #575758; font-size:18px; font-weight:bold}
#dx a.linkTitolo {color: #3399CC; font-size:24px; font-weight:bold; text-decoration:underline}
#dx a.linkTitolo:hover {color: #FF771C; font-size:24px; font-weight:bold; text-decoration:underline}
#dx a.linkFotogallery {color: #3399CC; font-size:16px; font-weight:bold; text-decoration:underline}
#dx a.linkFotogallery:hover {color: #FF771C; font-size:16px; font-weight:bold; text-decoration:underline}
#dx .italico {font-style:italic; padding-bottom:20px}
#dx .catalogo {padding-bottom:20px}
#dx .testo10 {font-size:10px}
#dx a {color:#3399CC; text-decoration:underline; font-weight:bold}
#dx a:hover {color:#FF6600; text-decoration:underline; font-weight:bold}
#rivestimentiTab a {color: #3399CC; text-decoration: underline;}
#rivestimentiTab a:hover {color: #FF6600; text-decoration: underline;}
hr {color:#CCCCCC}
li {list-style-type: square;}../../www.vibieffe.it/images/bg.gif