body {background-color: #FFFFFF;color: #575758;font: normal 11px Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;margin:0px;padding:0px}

.mappa a {color:#3399CC; text-decoration:underline}

.mappa a:hover {color:#FF6600; text-decoration:underline}

#salone {color: #575758; font-size:16px; font-weight:bold}

#salone a {color:#575758; text-decoration:underline}

#salone a:hover {color:#FF771C; text-decoration:underline}

#copyright {font-size:10px; text-align:right; padding-top:20px; padding-bottom:20px}

hr {color:#CCCCCC}

#fotogallery {padding-top:20px}

#fotogallery .titolo {color: #575758; font-size:18px; font-weight:bold}

#fotogallery .path {color: #575758; font-size:16px; font-weight:bold}

#fotogallery .path a {color: #575758; text-decoration:underline}

#fotogallery .path a:hover {color: #FF6600; text-decoration:underline}

#fotogallery .sottotitolo {color: #575758; font-size:14px; font-weight:bold}

#fotogallery a.torna {color: #3399CC; text-decoration:underline; font-weight:bold; font-size:14px}

#fotogallery a.torna:hover {color: #FF6600; text-decoration:underline; font-weight:bold; font-size:14px}

#navigazioneSx {padding-top:20px; padding-bottom:25px}

#navigazioneSx a {color:#999999; text-decoration:underline; font-size:10px}

#navigazioneSx a:hover {color:#FF6600; text-decoration:underline; font-size:10px}

#dx .titolo16 {color: #575758; font-size:16px; font-weight:bold}

