.tLinks {
    font-family:'Futura Book';
    font-size:12px;
    text-decoration:none;
    color:blue;
}
.tLinks41 {
    font-family:'Futura Book';
    font-size:12px;
}
.tH1 {
    font-family:'Futura Book';
    font-size:12px;
    text-decoration:none;
    color:black;
}
.tBody1 {
    font-family:'Futura Book';
    font-size:18px;
    text-decoration:none;
    color:blue;
}
.tFootNote {
    font-family:'Futura Book';
    font-size:14px;
    text-decoration:none;
    color:black;
}
.text15 {
    font-family:'Futura Book';
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    color:blue;
}
.tBody149 {
    font-family:'Futura Book';
    font-size:18px;
}
.tSubHead {
    font-family:'Futura Book';
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    color:blue;
}
.text30 {
    font-family:'Futura Book';
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    color:blue;
}
.text3061 {
    font-family:'Futura Book';
    font-size:14px;
    font-weight:bold;
}
.tSubHead63 {
    font-family:'Futura Book';
    font-size:12px;
    font-weight:bold;
}
.text32 {
    font-family:'Futura Book';
    font-size:10px;
    text-decoration:none;
    color:blue;
}
.text35 {
    font-family:'Futura Book';
    font-size:10px;
    text-decoration:none;
    color:black;
}
.pLinks {
    padding-bottom:10px;
    line-height:14px;
}
.pH1 {
    padding-bottom:10px;
}
.pBody1 {
    text-align:right;
}
.pBody2 {
    text-align:center;
}
.pHeadLine {
    padding-bottom:20px;
    text-align:center;
}
.pBodyNoSpace {
}
.pSubHead {
    padding-top:20px;
}
.para16 {
    text-indent:-15px;
    margin-left:30px;
}
.para21 {
    padding-bottom:10px;
    text-align:right;
}
